<div class="col-md-3 col-lg-2">
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list class="dashboard">
      <!-- <a mat-list-item (click)="toggleActive($event)"> -->
      <a mat-list-item routerLinkActive="active" routerLink="/home">
        <mat-icon mat-list-icon >dashboard</mat-icon>
        <p matLine *ngIf="isExpanded">Home</p>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLinkActive="active" routerLink="/areas">
        <mat-icon mat-list-icon>room</mat-icon>
        <p matLine *ngIf="isExpanded">Áreas</p>
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/orders">
        <mat-icon mat-list-icon>post_add</mat-icon>
        <p matLine routerLinkActive="active" *ngIf="isExpanded">Órdenes</p>
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/tables">
        <mat-icon mat-list-icon>deck</mat-icon>
        <p matLine *ngIf="isExpanded">Mesas</p>
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/categories">
        <mat-icon mat-list-icon>list</mat-icon>
        <p matLine *ngIf="isExpanded">Categorias</p>
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/products">
        <mat-icon mat-list-icon>fastfood</mat-icon>
        <p matLine *ngIf="isExpanded">Productos</p>
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/customers">
        <mat-icon mat-list-icon>people_alt</mat-icon>
        <p matLine *ngIf="isExpanded">Clientes</p>
      </a>

      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
</div>

<!--<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">
          <span data-feather="home"></span>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/areas">
          <span data-feather="map-pin"></span>-->
          <!-- <mat-icon fontSet="material-icons-outlined">room</mat-icon> -->
        <!--  Áreas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/orders">
          <span data-feather="edit"></span>
          Órdenes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/tables">
          <span data-feather="coffee"></span>
          Mesas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/categories">
          <span data-feather="list"></span>
          Categorías
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/products">
          <span class="lnr lnr-coffee-cup"></span>
          Productos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/customers">
          <span data-feather="users"></span>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="bar-chart-2"></span>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers"></span>
          Integrations
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav>
-->
