.sidenav-content {
    display: flex;
    height: calc(100vh - 94px);
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #333333;
    color: white;
    font-size: small;
    height: 40px;
}

.zindex2{
    position: relative;
    z-index: 2;
}

.text-white{
    color: white;
}

.sidenav {
    /*background-color: #0747A6;*/
    background-color: #4caf50;
    color: white;
}

.active{
    background-color:rgba(9, 30, 66, 0.25);
}

.sidenav-item{
    color: white;
    font-size:20px;
}

md-icon{
    color: white;
}

.mat-drawer{
    min-width: 1vw;
}

.button-pointer{
    cursor: pointer;
    margin-right: 10px;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
